
.character {
    background-color: #fff;
    margin: 20px;
    padding: 50px;
}

.character__page {
    display: flex;
}

.character__image {
    max-width: 20%;
    padding: 10px;
}

.character__content {
    max-width: 80%;
    padding: 10px;
}